.display-screen {
  font-size: .7em;
  height: 0;
  opacity: 0;
  z-index: 0;
}

.app-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 40px 10px;
}

.app-container div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 76px;
}


.display-screen p {
  word-spacing: 69px;
  text-align: center;
  transform: translateY(-10px);
  margin: 10px 0 0 0;
}

/* .animate-app {
  animation: animate-app .2s linear 2 alternate running;
} */

/* @keyframes animate-app {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(5);
  }
} */