.temp-converter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  z-index: 0;
  opacity: 0;
  font-size: 1.2rem;
  color: black;
  background: #b92b27;
  background: -webkit-linear-gradient(325deg, #1565C0, #b92b27);
  background: linear-gradient(325deg, #1565C0, #b92b27);
}

.converter-container {
  background-color: rgba(255, 255, 255, .15);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: calc(90% - 110px);
  padding: 60px 0 50px 0;
  border: solid 1.5px black;
  width: 85%;
  border-radius: 5px;
}

.temp-converter input[type=number] {
  text-align: center;
  background: none;
  padding: 5px 0;
  border: solid 1.5px black;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 2rem;
  width: 80%;
}

.temp-converter input::-webkit-outer-spin-button,
.temp-converter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.temp-converter input[type=number] {
  -moz-appearance: textfield;
}

.temp-converter p {
  text-align: center;
  transition: all 2s;
  color: black;
  margin: 0;
  margin-bottom: 4px;
}

.temp-converter unit-box {
  display: contents;
}

.temp-converter input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.temp-converter label {
  color: black;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

.temp-converter input[type=radio]:checked+label {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, .2)
}

.temp-converter label+input[type=radio]+label {
  border-left: solid 1.5px black;
}

.temp-converter .radio-group {
  border: solid 1.5px black;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}


.temp-converter .temp-result {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80%;
  padding: 5px 0;
  border: solid 1.5px black;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 900;
}

.temp-converter .temp-result p {
  text-align: center;
}