.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
}

.calc-display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5rem;
  flex-basis: 25%;
}

.calc-display p {
  transform: scale(1, 1.6);
  margin: 0 20px 7px 0;
}

.button-cont {
  flex-basis: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 12px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 200px;
  width: 65px;
  height: 65px;
  margin: 5px;
}

.button-cont div:nth-of-type(17) {
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  width: 115px;
}

.button-cont div {
  background-color: #333333;
}

.button-cont div:nth-child(-n + 3) {
  background-color: #a5a5a5;
  color: black;
}

.button-cont div:nth-of-type(4n + 4) {
  background-color: #f09a37;
}

.button-cont div:nth-of-type(19) {
  background-color: #f09a37;
}