html,
body {
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, #000000, #434343);
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  position: relative;
}

.outline {
  background: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 346px;
  height: 720px;
  border: 3px solid #252525;
  border-radius: 50px;
  overflow: hidden;
}

.three-d {
  background-image: linear-gradient(to left, #656565, #535353);
  padding: 3px;
  border-radius: 50px;
}

.box::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  width: 370px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
  bottom: 0px;
  transform: translateY(4px);
  opacity: 0.3;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.phone-top {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
}

.camera {
  background-image: linear-gradient(to right, silver, #333333);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.cam-inner {
  background-image: radial-gradient(ellipse at center,
      black 0%,
      rgb(13, 48, 73) 30%,
      black 65%);
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.speaker {
  background-image: linear-gradient(to right, silver, #555555);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 8px;
  margin-left: 10px;
  border-radius: 50px;
}

.speaker-inner {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Christian_cross.svg/733px-Christian_cross.svg.png");
  background-color: #808080;
  background-size: 3%;
  width: 98%;
  height: 90%;
  border-radius: 10px;
}

.phone-bottom {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11%;
}

.button-out {
  background-image: linear-gradient(to right, #808080, #111111);
  padding: 1px;
  border: 1px solid #252525;
  border-radius: 50%;
}

.button-in {
  background-color: #111111;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.button-in:hover {
  transform: scale(0.98);
}

.screen {
  background-image: url(/media/cat_cute_ball_127642_1350x2400.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 5px gray;
  width: 94%;
  height: 83%;
  border-top: 4px solid rgba(0, 0, 0, 0.75);
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  border-left: 2px solid rgba(0, 0, 0, 0.75);
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  overflow: hidden;
  user-select: none;
}

.screen-top {
  display: flex;
  justify-content: baseline;
  height: 0;
}

.screen-top div {
  display: flex;
  width: 33.3%;
  font-size: .7em;
  padding: 4px 3px 0 3px;
}

.screen-top p {
  font-weight: bold;
  margin: 0;
}

.spaced {
  margin: 0 8px 0 0;
}

.screen-top div:nth-of-type(2) {
  justify-content: center;
}

.screen-top div:nth-of-type(3) {
  justify-content: flex-end;
}

.on-display {
  height: 100% !important;
  z-index: 1 !important;
  opacity: 1 !important;
  transition: opacity 0.5s;
}