.screen {
  background-image: url(/images/cat_cute_ball_127642_1350x2400.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
  width: 94%;
  height: 83%;
  border-top: 4px solid rgba(0, 0, 0, 0.75);
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  border-left: 2px solid rgba(0, 0, 0, 0.75);
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  color: #fff;
  overflow: hidden;
}

.onDisplay {
  height: 100% !important;
  opacity: 1 !important;
  z-index: 1 !important;
}

.screen .homescreen {
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 0;
  width: 100%;
  z-index: 0;
}

.screen .displayscreen {
  font-size: 0.3rem;
  opacity: 0;
  padding: 30px 10px 5px 10px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 15% 15% 15% 15% 15% 15%;
  justify-items: stretch;
  justify-content: space-evenly;
  align-content: space-around;
  height: 0;
  z-index: 0;
}

.screen .displayscreen div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.screen .displayscreen a {
  overflow: hidden;
  background-image: url(/images/appPlaceholder.png);
  background-position: -18px -7px;
  background-size: 165%;
  width: 90%;
  height: 70%;
}

.screen .displayscreen p {
  transform: translateY(-10px);
  margin: 0;
}

.screen .topBarCont {
  z-index: 2;
  height: 0;
  display: flex;
}

.screen .topBarCont div {
  padding: 4px 3px 0 3px;
  display: flex;
  font-size: 0.4rem;
  width: 33.3%;
}

.screen .topBarCont p {
  font-weight: bold;
  font-size: 0.6rem;
  margin: 0;
}

.screen .topBarCont div:nth-of-type(1) {
  justify-content: space-around;
}

.screen .topBarCont div:nth-of-type(2) {
  justify-content: center;
}

.screen .topBarCont div:nth-of-type(3) {
  justify-content: flex-end;
}

.screen .homescreen .dtCont {
  flex-grow: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screen .homescreen .dtCont p:nth-of-type(1) {
  font-size: 4rem;
  font-weight: 100;
  margin: 60px 0 0 0;
}

.screen .homescreen .dtCont p:nth-of-type(2) {
  font-size: 1rem;
  margin: 0;
}

.screen .homescreen .botCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 0.7;
}

.screen .homescreen .botCont p {
  height: 20px;
  margin: 0;
  font-size: 0.7rem;
}

.screen .homescreen .botCont div {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20px;
  align-self: flex-end;
}

.screen .homescreen .botCont div i:nth-of-type(1) {
  transform: translateY(-1px);
  font-size: 0.1rem;
}

.screen .homescreen .botCont div i:nth-of-type(2) {
  margin: 0 4px 0 4px;
  transform: translateY(-1px);
  font-size: 0.1rem;
}

.screen .homescreen .botCont div i:nth-of-type(3) {
  font-size: 0.1rem;
}