.screen {
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 5px gray;
  width: 94%;
  height: 83%;
  border-top: 4px solid rgba(0, 0, 0, 0.75);
  border-bottom: 4px solid rgba(0, 0, 0, 1);
  border-left: 2px solid rgba(0, 0, 0, 0.75);
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Container at top of screen */

.screen-top {
  display: flex;
  justify-content: baseline;
  height: 0;
}

.screen-top div {
  display: flex;
  width: 33.3%;
  font-size: .7em;
  padding: 4px 3px 0 3px;
}

.screen-top p {
  font-weight: bold;
  margin: 0;
}

.spaced {
  margin: 0 8px 0 0;
}

.screen-top div:nth-of-type(2) {
  justify-content: center;
}

.screen-top div:nth-of-type(3) {
  justify-content: flex-end;
}

/* Homescreen */

.home-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 0;
}

.home-screen .dt-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 20;
}

.home-screen .dt-cont p:nth-of-type(1) {
  font-size: 4.6em;
  font-weight: 100;
  margin: 65px 0 0 0;
}

.animate-time {
  -webkit-animation: animate-time 0.2s linear 2 alternate running;
  animation: animate-time 0.2s linear 2 alternate running;
}

.home-screen .dt-cont p:nth-of-type(2) {
  font-size: 1.1em;
  margin: 0;
}

.home-screen .bot-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 0.7;
}

.home-screen .bot-cont p {
  font-size: .87em;
  height: 20px;
  margin: 0;
  opacity: 0;
}

.animate-text {
  -webkit-animation: fade-in-text 1s ease 2s 1 forwards;
  animation: fade-in-text 1s ease 2s 1 forwards;
}

.home-screen .bot-cont div {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  height: 20px;
  margin: 0;
}

.home-screen .bot-cont div i:nth-of-type(1) {
  font-size: .9em;
  transform: translateY(-1px);
  opacity: .8;
}

.home-screen .bot-cont div i:nth-of-type(2) {
  font-size: .9em;
  margin: 0 12px 0 8px;
  transform: translateY(-1px);
  opacity: .8;
}

.home-screen .bot-cont div i:nth-of-type(3) {
  font-size: .9em;
  opacity: .8;
}

/* App dispaly screen */

.display-screen {
  font-size: 0.3em;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(6, 15%);
  justify-items: stretch;
  justify-content: space-evenly;
  align-content: space-around;
  height: 0;
  padding: 30px 10px 5px 10px;
  opacity: 0;
  z-index: 0;
}

.display-screen div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.display-screen div img {
  padding: 0;
  width: 92%;
  height: 70%;
  overflow: hidden;
}

.display-screen p {
  text-align: center;
  transform: translateY(-10px);
  margin: 10px 0 0 0;
}

/* .animate-app {
  animation: animate-app .2s linear 2 alternate running;
} */

/* animations and effects */

.on-display {
  height: 100% !important;
  z-index: 1 !important;
  opacity: 1 !important;
  transition: opacity 0.5s;
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate-time {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-20px) scale(0.59);
  }

  100% {
    transform: translateY(-100px) scale(0.18);
  }
}

@keyframes animate-time {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-20px) scale(0.59);
  }

  100% {
    transform: translateY(-100px) scale(0.18);
  }
}

/* @keyframes animate-app {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(5);
  }
} */